<header class="site-header">

  <div class="wrapper">
    <div class="wrapper-inner">
      <a class="site-title" href="{{ site.baseurl }}/">
        <span class="lg-only">{{ site.title }}</span>
        <span class="sm-only">{{ site.short_title }}</span>
      </a>
      <div class="site-nav">
        <a class="page-link" href="/standards-evolution">Mailing List</a>
        <a class="page-link" href="/submission-guidelines">Submissions</a>
        <a class="page-link" href="/about/">About</a>
      </div>
    </div>
    <div class="legend-bar">
      <div onmouseover="this.style.cursor='pointer';" onclick="showElem('legend');" onmouseout="hideElem('legend')" style="cursor: pointer;" class="pre noprint docinfo" title="Click for colour legend."></div>
      <div id="legend"
           class="docinfo noprint pre legend"
           style="position:absolute; top: 4px; left: 4ex; visibility:hidden; background-color: white; border: solid #345 1px; "
           onmouseover="showElem('legend');"
           onmouseout="hideElem('legend');">
      </div>
    </div>
  </div>

</header>
